<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Django Chat</title>
    {% block styles %}{% endblock %}
</head>
<body class="bg-teal-600">
<nav class="flex items-center justify-between px-4 py-6 bg-teal-800 uppercase">
    <div>
        <a href="{% url 'frontpage' %}" class="text-xl text-white">django chat</a>
    </div>
    <div class="flex items-center space-x-4">
        {% if request.user.is_authenticated %}
            <a href="/rooms/" class="text-white hover:text-gray-200">rooms</a>
            <a href="{% url 'logout' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">log
                out</a>
        {% else %}
            <a href="/login/" class="text-white hover:text-gray-200">login</a>
            <a href="{% url 'signup' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">sign
                up</a>
        {% endif %}
    </div>
</nav>

{% block content %}{% endblock %}
<script src="https://cdn.tailwindcss.com"></script>
{% block scripts %}{% endblock %}
</body>
</html>